            *{
                margin: 0;
                padding: 0;
                /*font-family: "Microsoft JhengHei UI Light";*/
                /*font-family: 'Poppins', sans-serif;*/
                font-family: 'Jost', sans-serif;
                box-sizing: border-box;
                /*background-color: #dddddd;*/
            }

/*-----------------------------------------Blog site header section-------------------------------------------*/
        html {
              font-size: 16px;
        }

        .navbar {
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 0 1.5rem;
        }

        .navbar h1 {
                text-transform: uppercase;
                letter-spacing: 1px;
                cursor: pointer;
                font-weight: 600;
                color: #ffffff;
        }

        .navbar ul {
                display: flex;
                justify-content: center;
                align-items: center;
        }

        .navbar ul a {
                font-size: 0.9rem;
                padding: 1.5rem;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 500;
                /*letter-spacing: 2px;*/
                transition: all 0.5s ease;
        }

        .navbar ul a:hover {
                color: #d3d3d3;
                background-color: #000000;
        }

        li {
                list-style: none;
        }

        a {
                text-decoration: none;
                color: #ffffff;
        }

        p {
                font-size: 1.2rem;
        }

        header {
                width: 100%;
                height: 5rem;
                /*background-color: #dededede;*/
                /*background-color: #d3d3d3;*/
                background-color: #000000;
                /*background-color: #1e1e1e1e;*/
                /*transparent background */
                position: fixed;
                top: 0;
                z-index: 333;
        }

        .mobile-nav {
                display: none;
        }

        .mobile-nav {
                color: #ffffff;
                display: none;
        }


/*-----------------------------------------Blog site hero section-------------------------------------------*/
        .container {
                width: 96%;
                max-width: 117rem;
                margin: 0 auto;
        }

        .hero {
                max-width: 115rem;
                height: 40rem;
                background-image: url("Images/Pic_Cheetah.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin: 6rem auto;
        }


/*-----------------------------------------Blog site main section-------------------------------------------*/

        main {
                width: 100%;
                max-width: 80rem;
                background-color: #7e7e7e7e;
                background-color: #1e1e1e1e;
                margin: -10rem auto;
                padding: 4rem;
                border-radius: 1.3rem;
                /*margin-bottom: 15rem;*/
        }

        main h2 {
                font-size: 3rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 5px;
                margin-top: 5rem;
        }

        main .profile-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 3rem 0;
        }

        main .profile-container .profile {
                display: flex;
                justify-content: center;
                align-items: center;
        }

        main .profile-container .profile .image-container {
                width: 6rem;
                height: 6rem;
                background-image: url("Images/Mr. Bean.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 0.7rem;
        }

        main .profile-container .profile .text {
                margin: 0 2rem;
                /*color: #f7f7f7;*/
                color: #111111;
                font-size: 1.3rem;
                font-weight: 400;
                letter-spacing: 1px;
        }

        .profile .text h3 {
                text-transform: uppercase;
        }

        .btn {
                display: inline-block;
                text-transform: capitalize;
                font-size: 1.0rem;
                padding: 0.3rem 1.5rem;
                background-color: #222222;
                border-radius: 0.2rem;
        }

        .btn:hover {
                background-color: #ffa600;
                text-transform: uppercase;
                font-size: 0.9rem;
                color: #222222;
        }

        main .content p {
                /*color: #5b5963;*/
                margin: 1rem 0;
                color: #222222;
        }

        main .content h4 {
                font-size: 1.4rem;
                font-weight: 600;
                color: #5b5963;
                margin: 2rem 0;
        }

        main .content .content-img-container {
                width: 100%;
                height: 35rem;
                background-image: url("Images/B2B.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
        }

        blockquote {
                font-size: 1.4rem;
                padding: 2rem 3rem;
                line-height: 2;
                font-weight: 400;
                /*box-shadow: inset 0.6rem 0 0 #663399;*/
                box-shadow: inset 0.6rem 0 10rem #663399;
                background-color: #222222;
                /*color: #f0ff88;*/
                color: #f0f8ff;
        }

        .tags {
                display: flex;
                align-items: center;
                margin-bottom: 50px;
        }

        .tags p {
                font-size: 1.3rem;
                text-transform: capitalize;
        }

        .tags a {
                display: inline-block;
                padding: 0.4rem 1.5rem;
                background-color: #222222;
                color: #f0f8ff;
                font-size: 1.0rem;
                text-transform: capitalize;
                margin: 1.5rem 0.5rem;
                border-radius: 0.2rem;
        }

        .tags a:hover {
                background-color: #ffa600;
                color: #222222;
                border-radius: 0.5rem;
                text-transform: uppercase;
                font-size: 0.8rem;
        }


        #articles-area {
                margin-top: 20rem;
        }

        .articles {
                width: 100%;
                background-color: #f5f5f5;
                margin: 10rem 0;
                padding: 5rem 0;
        }

        .articles .articles-header {
                text-transform: uppercase;
                text-align: center;
                width: 100%;
                position: relative;
        }

        .articles-header h5 {
                font-size: 10rem;
                font-weight: 600;
                letter-spacing: 3px;
                position: relative;
                color: #1e1e1e1e;
        }

        .articles-header h6 {
                font-size: 4rem;
                font-weight: 200;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
        }

        .articles .button {
                margin: 0px auto;
                text-align: center;
        }

        .articles .btn {
                font-size: 1.2rem;
                letter-spacing: 1px;
                font-weight: 200;
                border-radius: 0.2rem;
                padding: 0.5rem 3rem;
                text-transform: uppercase;
                margin-top: 50px;
                margin-bottom: 50px;
        }

        .articles .btn:hover {
            }

        .cards {
                display: flex;
                justify-content: space-between;
                margin: 4rem auto;
                gap: 5rem;
        }

        #cc {
                cursor: pointer;
                transition: all 0.8s ease;
        }

        .img-holder {
                max-width: 100%;
                height: 25rem;
                background-image: url("Images/B2B.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                transition: all 0.5s ease;
                border: 1px solid #f0f8ff;
        }

         .cards-container-two .img-holder {
                 background-image: url("Images/Mr. Bean.jpg");
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
         }

         .cards-container-three .img-holder {
                 background-image: url("Images/Beauty.jpg");
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
         }

         .img-holder a {
                 text-transform: capitalize;
                 font-size: 1.2rem;
                 padding: 0.3rem 1.5rem;
                 display: inline-block;
                 color: #f0f8ff;
                 /*color: #429f98;*/
                 background-color: #222222;
                 border-radius: 0.2rem;
                 font-weight: 450;
                 position: absolute;
                 bottom: 5%;
                 right: 5%;
                 transition: all .4s ease;
         }

         #cc:hover {
                 transform: translateY(-2rem);
         }

         #cc:hover a {
                 background-color: #ffa600;
                 color: #111111;
         }

         #cc .card-text {
                 background-color: #f5f5f5;
                 padding: 2rem;
                 box-shadow: 0 0 0.5rem #5b5963;
                 margin-top: 0.1rem;
            }

         #cc .card-text h4 {
                 font-size: 1.2rem;
                 text-transform: uppercase;
                 margin-bottom: 2rem;
         }

         #cc .card-text h4:before {
                 content: '';
                 width: 5px;
                 height: 0.1rem;
                 border: 2px solid #ff0000;
                 margin: 0 5px;
         }

         #cc .card-text p {
                 font-size: 1.1rem;
         }



/*-----------------------------------------Blog site footer section-------------------------------------------*/

         footer {
                 background-color: #111111;
                 /*margin: 3rem 0rem;*/
                 line-height: 1.5rem;

         }

         .icons {
                 text-align: center;
                 font-size: 2.5rem;
         }

         .icons .socials i {
                 font-size: 1.9rem;
                 /*color: #f5f5f5;*/
                 border-radius: 50%;
                 background-color: #fff;
                 transition: all 0.4s, ease;
                 margin: 4rem;
                 align-items: center;
                 justify-content: space-between;
                 padding: 0.5rem 0rem;
                 border: 3px solid #ffffff;
                 width: 50px;
                 height: 50px;
         }

         .icons .socials i:hover {
                 background-color: #ffa600;
                 /*background-color: #f5f5f5;*/
                 cursor: pointer;
                 color: #222222;
         }

         .copyright p {
                 font-size: 1.0rem;
                 color: #d3d3d3;
                 letter-spacing: 1px;
                 text-transform: capitalize;
                 padding-bottom: 5rem;
         }

         .copyright span {
                 color: #ff0000;
                 margin: 2px auto;
         }


/*-----------------------------------------Blog site footer section-------------------------------------------*/

            @media screen and (max-width: 768px) {
                 main {
                         padding: 0;
                         margin: 0;
                 }

                 main h2 {
                         font-size: 1.0rem;
                         margin-top: 2.5rem;
                 }

                 .navbar ul {
                         display: none;
                 }

                 .navbar .menu {
                         display: block;
                         cursor: pointer;
                         color: #ffffff;
                         font-size: 2.5rem;
                 }

                 .mobile-nav.active {
                         background-color: #1e3e1e9e;
                         display: block;
                         padding: 1.5rem;

                 }

                 .mobile-nav ul a {
                         display: inline-block;
                         padding: 1.5rem;
                         font-size: 1.4rem;
                         width: 100%;
                         text-transform: uppercase;
                         color: #f5f5f5;
                         transition: all 0.4s ease;
                 }

                 .mobile-nav ul a:hover {
                         color: #ffffff;
                         background-color: #222222;
                 }

                 .cards {
                         flex-direction: column;
                 }

                 #articles-area {
                         margin-top: 10rem;
                 }
         }

            @media (max-width: 567px) {
                    .articles-header h5 {
                            font-size: 6rem;
                    }

                    #articles-area {
                            margin-top: 10rem;
                    }

                    main h2 {
                            font-size: 2.0rem;
                            margin-top: 2.5rem;
                       }
         }

            @media (max-width: 667px) {
                    main {
                            padding: 0.5rem;
                            box-sizing: border-box;
                    }

                    #articles-area {
                            margin-top: 10rem;
                    }

                    main h2 {
                            font-size: 0.5rem;
                            margin-top: 2.5rem;
                    }

                    .articles-header h5 {
                            font-size: 4.2rem;
                    }
            }
